<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <h2>Booking Successful!</h2>
        <p>Your booking has been confirmed. A confirmation email will be sent shortly.</p>
        <a href="{% url 'booking_history' %}">My Bookings</a><br>
        <a href="{% url 'home' %}" class="button">go home</a>
    </div>
</body>

</html>